@use 'base';
@use 'unitilies' as u;



.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;

    background-color: hsl(185, 75%, 39%);


    > :nth-child(1){
        position: absolute;
        width: 70%;
        height: 100%;
        top:  0px;
        left: 0px;

        ellipse{
            rx:600px;
            ry:550px;
            cx:150px;
            cy:50px
           
        }
    }

    
    > :nth-child(2){
        position: absolute;
        width: 70%;
        height: 100%;
        bottom:  0px;
        right: 0px;
        transform: rotate(180deg);

        ellipse{
            rx:500px;
            ry:350px;
            cx:200px;
            cy:50px
           
        }
        
    }




    .dark{
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 1.2rem;
        text-align: center;
        margin-top: 1rem;
    }

    .grey{
        color:hsl(227, 10%, 46%) ;
        text-align: center;
        margin-top: 0.5rem;
    }

   
    .card{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;    
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;     
        background-color: #fff;
        z-index: 1;
        

      


        
        
        

        &-top{
            display: flex;
            flex-direction: column;
            z-index: 1;
            position: relative;

            svg{
                position: relative;
                top: 0;
                right: 0;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                width: 320px;
                
                
            }

            .img{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                margin: auto;
                top: -50px;

                img{

                width: 100px;
                height: 100px;
                display: block;
                border-radius: 50%;

                }
                 

                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    
                    width: 97px;
                    height: 95px;
                    border: 6px solid rgb(254, 253, 253);
                    border-radius: 50%;

                }
            }
        }

        .bottom{
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 2px dotted grey;
            width: 100%;
            padding-bottom: 30px;
            padding-top: 10px;
            
            
            

            > div{
                margin: 0 1rem;
            }
        }

    }
}


@media screen and (max-width:500px) {


    .wrap{

        > :nth-child(1){
            position: absolute;
            width: 600px;
            height: 600px;
            top: 0px;
            left: 0px;
    
            ellipse{
                rx:200px;
                ry:200px;
                cx:-20px;
                cy:80px;
            }
        }
    
        
        > :nth-child(2){
            position: absolute;
            width: 600px;
            height: 600px;
            bottom: 0px;
            right: 0px;
    
            ellipse{
                rx:200px;
                ry:200px;
                cx:-20px;
                cy:80px;
            }
        }
    }
    
    
}